.ProfileCard{
    background-color: white;
    /* margin: 10px; */
    width: 30vw;
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    border: 10px solid rgb(168, 160, 160);
    text-align: center;
    flex-wrap: wrap;
    box-shadow: 0px 1px 5px 1px black;
}

.ProfileCard img{
    border-radius: 100%;
    height: 40%;
    max-width: 100%;
}
