main{
  /* background-color: cadetblue; */
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  width: 100vw;
  justify-content: center;
  padding: 10px;
}

#app{
  background-color: rgb(219, 217, 217);
  width: 100vw;
  min-height: 100vh;
  border-radius: 0%;
  display: flex;
  flex-direction: column;
}